.user-dropdown {
  list-style: none;
  background: var(--primary-color);
  color: var(--background-color);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  border-radius: 5px;
}

.user-dropdown li {
  padding: 14px;
  border-radius: 5px;
  transition: all linear 0.3s;
}

.user-dropdown li:hover {
  background: var(--secondary-color);
  cursor: pointer;
  color: var(--primary-color);
}
