.user-dropdown {
  list-style: none;
  background: rgb(30, 27, 27);
  color: whitesmoke;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
}

.user-dropdown li {
  padding: 14px;
  transition: all linear 0.3s;
}

.user-dropdown li:hover {
  background: gray;
  cursor: pointer;
  color: #fff;
}
