.admin-category-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin-category-item img {
  height: 320px;
  width: 320px;
  object-fit: contain;
  filter: drop-shadow(0 0 3px var(--background-inverted-color));
}

.admin-category-item h2 {
  font-size: 25px;
}

.admin-category-item div > button:nth-child(1) {
  margin-right: 10px;
  background-color: var(--edit-btn-color);
  filter: drop-shadow(0 0 4px var(--edit-btn-color));
}

.admin-category-item div > button:nth-child(2) {
  background-color: var(--delete-btn-color);
  filter: drop-shadow(0 0 4px var(--delete-btn-color));
}
