.filters label {
  font-weight: bold;
  margin-bottom: 5px;
}

.filters select {
  padding: 12px 15px;
  font-size: 19px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  border-radius: 15px;
  background-color: var(--background-inverted-color);
  color: var(--background-color);
  font-weight: bold;
}

.filters option {
  background-color: var(--background-inverted-color);
  color: var(--secondary-color);
  font-size: 17px;
  font-weight: bold;
}

.filters option:hover {
  background-color: gray;
}

@media screen and (max-width: 700px) {
  .filters select {
    padding: 6px 7px;
    font-size: 15px;
  }

  .filters option {
    font-size: 14px;
  }
}
