.main-nav {
  margin: 0 auto;
  max-width: 100rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.main-nav li {
  list-style-type: none;
}

.main-nav a {
  text-decoration: none;
  color: #8b0401;
  font-size: 2rem;
  font-weight: 700;
}
