.theme-btn {
  all: unset;
  position: relative;
  cursor: pointer;
  padding: 5px 15px;
  z-index: 999;
}
.theme-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
  background-color: var(--secondary-color);
}
.theme-btn i {
  font-size: 28px;
  color: var(--secondary-color);
  filter: drop-shadow(0 0 1px var(--dropshadow-color));
}
