.user-dropdown {
  list-style: none;
  background: var(--primary-color);
  color: var(--background-color);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  font-size: 18px;
  border-radius: 5px;
  width: 200%;
}

.user-dropdown li {
  padding: 14px;
  border-radius: 5px;
  transition: all linear 0.3s;
}

.user-dropdown li:hover {
  background: rgb(146, 141, 141);
  cursor: pointer;
  color: var(--primary-color);
}

.user-dropdown i {
  color: var(--secondary-color);
  font-size: 18px;
  margin-right: 10px;
}
