.footer {
  margin-top: 0;
  clear: both;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white-color);
  width: 100%;
  background-color: var(--footer-color);
  padding: 16px;
}

.footer a {
  text-decoration: none;
  color: var(--white-color);
  margin-left: 10px;
}
