@use "sass:color";
@use "../../abstracts/variables" as variables;

@mixin core-properties {
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s all ease-in-out;
    display: inline-block;
}
