@use "sass:color";

@use "./button-core" as btn;
@use "../../abstracts/variables" as variables;

.btn-link {
    @include btn.core-properties;

    &:link,
    &:visited {
        @include btn.core-properties;
    }

    &:active {
        scale: 1.05;
    }

    &--small {
        font-size: 1.8rem;
        padding: 1.3rem 2.6rem;
    }

    &--medium {
        font-size: 2rem;
        padding: 1.6rem 3.2rem;
    }

    &--large {
        font-size: 2.2rem;
        padding: 1.8rem 3.6rem;
    }

    &--primary {
        background-color: variables.$primary-color;
        color: variables.$color-white;

        &:hover {
            background-color: color.mix(variables.$primary-color, variables.$color-black, 75%);
        }
    }

    &--secondary {
        background-color: variables.$secondary-color;
        color: variables.$color-white;

        &:hover {
            background-color: color.mix(variables.$secondary-color, variables.$color-black, 75%);
        }
    }
}
