.info {
  position: relative;
  padding: 15px;
  border-bottom: 3px solid var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 280px;
}

.info img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-bottom: 20px;
}

.info p {
  font-size: 20px;
  font-weight: bold;
}
