.info {
  padding: 15px;
  border-bottom: 3px solid var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info img {
  width: 120px;
  height: 120px;
}

.info p {
  font-size: 20px;
  font-weight: bold;
}
