.shopFeatures {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  width: 75vw;
  margin-top: 20px;
  position: relative;
  height: 90px;
  padding-right: 3%;
}
.feature a {
  text-decoration: none;
}

.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.feature i {
  font-size: 45px;
  color: var(--secondary-color);
}

.feature p {
  font-size: 18px;
  margin-top: 10px;
  color: var(--primary-color);
}

.feature-slash {
  margin: 0 25px;
  height: 100%;
  width: 2px;
  background-color: var(--secondary-color);
  transform: rotate(40deg);
}

@media screen and (max-width: 1200px) {
  .shopFeatures {
    width: 90vw;
  }
  .feature {
    text-align: center;
  }
  .feature i {
    font-size: 35px;
  }

  .feature p {
    font-size: 16px;
  }
  .feature-slash {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .shopFeatures {
    width: 95vw;
  }
  .feature i {
    font-size: 25px;
  }
}

@media screen and (max-width: 400px) {
  .feature i {
    font-size: 20px;
  }
  .feature p {
    font-size: 14px;
  }
}
