.category-section {
  min-height: var(--section-min-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90vw;
  margin: 0 auto;
  padding: 20px;
}
.category-section h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.category-banner-image {
  width: 75vw;
  height: 35vh;
  object-fit: contain;
  margin-bottom: 50px;
}

.category-section hr {
  border: none;
  outline: none;
  border-radius: 3px;
  width: 75vw;
  height: 5px;
  margin: 30px 0;
  background-color: var(--secondary-color);
}

.category-section .sort-and-info {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.category-section .sort-and-info p {
  font-size: 19px;
  font-weight: bold;
}

.category-section .sort-and-info span {
  margin-left: 5px;
  font-size: 23px;
  font-weight: bold;
  color: var(--secondary-color);
}

.category-section .products {
  width: 75vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.category-section .spinner {
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
}

.pagination {
  margin-bottom: 100px;
}
