.category-section {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90vw;
  margin: 0 auto;
  padding: 20px;
}
.category-section h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.category-banner-image {
  width: 75vw;
  height: 35vh;
  object-fit: contain;
  margin-bottom: 50px;
}

.category-section hr {
  border: none;
  outline: none;
  border-radius: 3px;
  width: 75vw;
  height: 5px;
  margin: 30px 0;
  background-color: var(--secondary-color);
}

.category-section .sort-and-info {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.category-section .sort-and-info p {
  background-color: var(--background-inverted-color);
  color: var(--background-color);
  padding: 8px 13px;
  font-size: 18px;
  border-radius: 15px;
  font-weight: bold;
}

.category-section .sort-and-info span {
  margin-left: 5px;
  font-size: 23px;
  font-weight: bold;
  color: var(--secondary-color);
}

.category-section .products {
  width: 75vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pagination {
  margin-top: 50px;
  margin-bottom: 100px;
}
@media screen and (max-width: 700px) {
  .category-section h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .category-section .sort-and-info {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
  .category-section .products {
    width: 85vw;
    align-items: center;
    justify-content: space-evenly;
  }
  .category-section .sort-and-info p {
    padding: 4px 7px;
    font-size: 15px;
  }
  .category-section .sort-and-info span {
    font-size: 16px;
  }
}
