.logo {
  height: 2.7em;
  border-radius: 15px;
  filter: drop-shadow(0 0 0.3em var(--dropshadow-color));
  transition: scale 0.5s ease-in-out;
}
.logo:hover {
  scale: 1.05;
  filter: drop-shadow(0 0 0.5em var(--dropshadow-color));
}
