.pagination {
  display: flex;
  justify-content: space-between;
}

.pagination button {
  all: unset;
  cursor: pointer;
  color: var(--white-color);
  padding: 10px 15px;
  background-color: var(--secondary-color);
  font-size: 19px;
  border-radius: 10px;
  filter: drop-shadow(0 0 3px var(--secondary-color));
  margin: 0 5px;
  font-weight: bold;
}

.pagination button:disabled {
  cursor: not-allowed;
  background-color: rgb(245, 130, 130);
}

.pagination .page-active {
  background-color: var(--background-inverted-color);
  color: var(--background-color);
  filter: drop-shadow(0 0 3px var(--background-inverted-color));
}
