.planetsContainer {
  animation: fade 2s linear;
  width: 80vw;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.planetSmall {
  background-color: black;
  scale: 1;
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 225px;
  width: 225px;
  box-shadow: 0 0 2px rgb(205, 198, 198);
  border: 1px whitesmoke;
  border-radius: 50%;
  padding: 15px;
  transition: 0.7s ease-in-out;
}

.planetSmall img {
  animation: fade 2s linear;
  filter: contrast(120%);
  position: relative;
  height: 70%;
  width: 70%;
  border-radius: 25px;
  object-fit: contain;
}

.planetSmall:hover {
  transition: 0.7s ease-in-out;
  box-shadow: 0 0 10px rgb(205, 198, 198);
  scale: 1.1;
  cursor: pointer;
}
.planetsContainer > div:nth-child(6) img {
  height: 55%;
  width: 100%;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.planetBig {
  animation: fade 2s linear;
  position: relative;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 50px;
  width: 70vw;
  height: 70vh;
}
.planetBig i {
  margin-bottom: 30px;
  font-size: 14px;
}
.planetBig table {
  border-spacing: 15px;
}

.planetBig p {
  margin: 8px;
  font-size: 15px;
}
.planetBig p strong {
  font-size: 18px;
}

.planetBig img {
  position: relative;
  width: auto;
  height: 40%;
}

.planetBig a {
  margin: 10px;
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 15px;
  font-size: 17px;
  border-radius: 20px;
  font-weight: bold;
}

.planetBig button {
  all: unset;
  cursor: pointer;
  margin: 10px 0;
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 15px;
  font-size: 17px;
  border-radius: 20px;
  font-weight: bold;
}

@media only screen and (max-width: 1500px) {
  .planetSmall {
    margin: 15px;
    height: 210px;
    width: 210px;
  }
  .planetBig a {
    padding: 12px;
    font-size: 15px;
  }

  .planetBig button {
    padding: 12px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 1200px) {
  .planetsContainer {
    width: 90vw;
  }
  .planetSmall {
    height: 200px;
    width: 200px;
  }
}
@media only screen and (max-width: 1000px) {
  .planetsContainer {
    width: 95vw;
  }
  .planetBig i {
    margin-bottom: 20px;
    font-size: 13px;
  }
  .planetBig table {
    border-spacing: 12px;
  }

  .planetBig p {
    margin: 8px;
    font-size: 14px;
  }
  .planetBig p strong {
    font-size: 16px;
  }

  .planetSmall {
    height: 175px;
    width: 175px;
  }
}

@media only screen and (max-width: 650px) {
  .planetBig img {
    height: 25%;
  }
  .planetsContainer {
    width: 100vw;
  }
  .planetBig {
    width: 80vw;
    height: 70vh;
  }
  .planetSmall {
    padding: 10px;
    margin: 10px;
    height: 150px;
    width: 150px;
  }
}

@media only screen and (max-width: 430px) {
  .planetBig {
    height: 60vh;
  }
  .planetBig i {
    margin-bottom: 12px;
    font-size: 11px;
  }
  .planetBig table {
    border-spacing: 5px;
  }
  .planetBig table td,
  th {
    font-size: 12px;
  }

  .planetBig p {
    margin: 6px;
    font-size: 13px;
  }
  .planetBig p strong {
    font-size: 14px;
  }
  .planetBig img {
    height: 20%;
  }
  .planetSmall {
    padding: 5px;
    margin: 7px;
    height: 110px;
    width: 110px;
  }
  .planetSmall h2 {
    font-size: 14px;
  }
  .planetBig a {
    padding: 10px;
    font-size: 12px;
  }

  .planetBig button {
    padding: 10px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 320px) {
  .planetBig {
    height: 80vh;
  }
}

@media only screen and (max-width: 250px) {
  body {
    height: auto;
  }
}
