.carousel-home {
  position: sticky;
  top: 10px;
  overflow: hidden;
  width: 75vw;
  height: 35vh;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
}

.carousel-home .inner {
  transition: 0.8s ease-in-out;
  position: relative;
  display: flex;
}

.left-btn {
  all: unset;
  position: absolute;
  cursor: pointer;
  color: var(--white-color);
  padding: 10px 18px;
  background-color: var(--secondary-color);
  font-size: 25px;
  border-radius: 50%;
  filter: drop-shadow(0 0 3px var(--secondary-color));
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  z-index: 1;
}

.right-btn {
  all: unset;
  position: absolute;
  cursor: pointer;
  color: var(--white-color);
  padding: 10px 18px;
  background-color: var(--secondary-color);
  font-size: 25px;
  border-radius: 50%;
  filter: drop-shadow(0 0 3px var(--secondary-color));
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  z-index: 1;
}

@media screen and (max-width: 700px) {
  .left-btn {
    padding: 8px 12px;
    font-size: 17px;
    left: 4px;
    filter: drop-shadow(0 0 2px var(--secondary-color));
  }
  .right-btn {
    padding: 8px 12px;
    font-size: 17px;
    right: 4px;
    filter: drop-shadow(0 0 2px var(--secondary-color));
  }
}
