.hero {
  margin: 0 auto;
  max-width: 130rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem;
  align-items: center;
  padding: 0 3.2rem;
}

.img-box img {
  width: 100%;
  border-radius: 1.2rem;
  filter: drop-shadow(0 0 0.5rem var(--color-primary-main));
  transition: 0.5s ease-in-out;
}

.img-box img:hover {
  scale: 1.05;
}

.text-box {
  color: var(--color-primary-main);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}

.text-box a:link {
  display: inline-block;
  margin: 1.6rem 1.6rem 0 0;
}

.text-box h1 {
  font-size: 4.4rem;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: -1px;
}

.text-box .desc {
  font-size: 2rem;
  line-height: 1.6;
}

.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.happy-clients {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.happy-clients-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.happy-clients-text span {
  color: var(--color-primary-main);
  font-weight: 700;
  font-size: 2.2rem;
}

@media (max-width: 1000px) {
  .hero {
    text-align: center;
    grid-template-columns: 1fr;
    column-gap: 4.8rem;
  }

  .happy-clients {
    justify-content: center;
  }

  .img-box img {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .text-box a {
    text-align: center;
    width: 100%;
  }

  .happy-clients {
    flex-direction: column;
  }

  .img-box img {
    width: 100%;
  }
}
