.add-store {
  background-color: var(--background-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  min-height: 85vh;
  z-index: 6;

  /* ---------------------------------------- */
  filter: drop-shadow(0 0 9px var(--background-inverted-color));
  max-height: 90%;
  color: var(--background-color);
  padding: 30px 40px;
  background: var(--background-inverted-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 30vw;
}

.add-store i {
  font-size: 30px;
  font-weight: bold;
  color: var(--secondary-color);
  margin: 15px;
}

.add-store .info-co {
  transition: all 1s ease-in-out;
  background-color: rgb(74, 74, 74);
  width: 400px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  color: var(--white-color);
  margin: 10px;
}
.add-store button {
  all: unset;
  cursor: pointer;
  color: var(--white-color);
  padding: 10px 15px;
  background-color: var(--secondary-color);
  font-size: 19px;
  border-radius: 10px;
  filter: drop-shadow(0 0 3px var(--secondary-color));
}

.add-store label,
.add-store input {
  display: block;
  margin-bottom: 5px;
}

.add-store input {
  color: var(--background-color);
  background: none;
  font-size: 16px;
  border: none;
  padding: 10px 15px;
  border-bottom: 3px solid var(--secondary-color);
}

.form-group:focus-within {
  transform: scale(1.07);
}
.add-store input:focus {
  outline: none;
}
.add-store .form-group {
  margin-bottom: 10px;
}
.add-store img {
  height: 130px;
  width: 130px;
  object-fit: contain;
}
.errors-container {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
}

.add-store input[type="file"] {
  display: none;
}

.add-store img {
  filter: drop-shadow(0 0 7px var(--secondary-color));
  border-radius: 25px;
  width: 180px;
  height: 180px;
  object-fit: contain;
  margin-top: 20px;
}

.add-store label:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-store img:hover {
  filter: drop-shadow(0 0 11px var(--secondary-color));
  scale: 1.02;
}
