// COLORS
$primary-dark: #600300;
$primary-color: #8b0401;
$primary-light: #b80a04;
$primary-pastel: #d98c8a;

$secondary-dark: #b35d00;
$secondary-color: #e67700;
$secondary-light: #ffa533;
$secondary-pastel: #f4cba0;

$tertiary-dark: #d4b84c;
$tertiary-color: #ffe066;
$tertiary-light: #ffe6bd;
$tertiary-pastel: #fceecb;

$color-white: #f7f7f7;
$color-black: #0c0b0b;

// WIDTHS
$max-width-content: 130rem;
