// COLORS
$primary-dark: #600300;   
$primary-color: #8B0401;  
$primary-light: #B80A04;  
$primary-pastel: #D98C8A; 


$secondary-dark: #B35D00;  
$secondary-color: #E67700; 
$secondary-light: #FFA533; 
$secondary-pastel: #F4CBA0; 


$tertiary-dark: #D4B84C;  
$tertiary-color: #FFE066; 
$tertiary-light: #FFF3B0; 
$tertiary-pastel: #FCEECB; 


$color-white: #f7f7f7;
$color-black: #0c0b0b;

// WIDTHS
$max-width-content: 130rem;