.categories-dropdown {
  list-style: none;
  background: var(--primary-color);
  color: var(--background-color);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: auto;
  width: 150%;
}

.categories-dropdown li {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  padding: 14px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10%;
  border-bottom: 2px solid var(--secondary-color);
}

.categories-dropdown li:last-child() {
  border-bottom: none;
}

.categories-dropdown li:hover {
  scale: 1.04;
  background: rgb(146, 141, 141);
  cursor: pointer;
  color: var(--primary-color);
}
.categories-dropdown img {
  flex: 1;
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.categories-dropdown span {
  flex: 2.5;
}
