.cart-aside {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 25vw;
  background-color: var(--background-inverted-color);
  z-index: 4;
  padding: 15px 5px;
  border-left: 4px solid var(--secondary-color);
  animation: slideIn 0.1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-aside div:nth-child(1) > i {
  cursor: pointer;
  color: var(--secondary-color);
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
}
.cart-item-container {
  overflow-y: scroll;
  width: 90%;
  height: 80vh;
}

.cart-aside button {
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  bottom: 25px;
  width: 50%;
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 10px 1px;
  font-size: 19px;
  border-radius: 10px;
}
@keyframes slideIn {
  0% {
    width: 0;
  }
  100% {
    width: 30vw;
  }
}
