.main-nav {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--background-inverted-color);
  color: var(--background-color);
}

.categories-container {
  flex: 1;
}

.links {
  flex: 4.5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.links li {
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
}

.links li:hover {
  color: var(--secondary-color);
}
