:root {
  --background-color: whitesmoke;
  --background-inverted-color: #23272f;
  --primary-color: #23272f;
  --secondary-color: red;
  --dropshadow-color: rgb(203, 21, 21);
  --top-nav-background-color: whitesmoke;
  --main-nav-background: rgb(20, 19, 19);
  --main-nav-categories: rgb(237, 23, 3);
  --footer-color: rgb(237, 23, 3);
  --reset-btn-color: green;
  --scrollbar-track: rgb(102, 0, 0);
  --header-height: 17.5vh;
  --footer-height: 7.5vh;
  /* --footer-height: 10%; */
  /* --main-height: calc(100vh - var(--header-height)); */
  --section-min-height: calc(
    100vh - (var(--header-height) + var(--footer-height))
  );
  --white-color: whitesmoke;
  --black-color: #23272f;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* For Firefox */
  scrollbar-color: var(--secondary-color)
    var(--primary-color);
  scrollbar-width: thin;
}

/* Other browsers - Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--primary-color);
}

/* *::-webkit-scrollbar-track:hover {
  background-color: var(--primary-color);
} */

*::-webkit-scrollbar-track:active {
  background-color: var(--scrollbar-track);
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: var(--secondary-color);
}

/* s */

/* *::-webkit-scrollbar-thumb:active {
  background-color: rgb(162, 22, 1);
} */

.light {
  position: relative;
  min-height: 100vh;
  height: auto;
  width: 100%;
  --background-color: whitesmoke;
  --background-inverted-color: #23272f;
  --primary-color: #23272f;
  --top-nav-background-color: whitesmoke;
  color: var(--primary-color);
  background-color: var(--background-color);
}

.dark {
  position: relative;
  min-height: 100vh;
  height: auto;
  width: 100%;
  --background-color: #23272f;
  --background-inverted-color: whitesmoke;
  --primary-color: whitesmoke;
  --top-nav-background-color: #23272f;
  color: var(--primary-color);
  background-color: var(--background-color);
}

.main {
  overflow-y: auto;
  width: 100%;
}
