:root {
  --background-white-theme-color: whitesmoke;
  --background-dark-theme-color: #23272f;
  --primary-white-theme-color: #23272f;
  --primary-white-theme-second-color: red;
  --primary-dark-theme-color: whitesmoke;
  --primary-dark-theme-second-color: red;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--primary-white-theme-color);
  background-color: var(--background-white-theme-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* For Firefox */
  scrollbar-color: var(--primary-white-theme-second-color)
    var(--primary-white-theme-color);
  scrollbar-width: thin;
}

/* Other browsers - Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--primary-white-theme-color);
}

*::-webkit-scrollbar-track:hover {
  background-color: var(--primary-white-theme-color);
}

*::-webkit-scrollbar-track:active {
  background-color: var(--primary-white-theme-color);
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: var(--primary-white-theme-second-color);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(162, 22, 1);
}

*::-webkit-scrollbar-thumb:active {
  background-color: rgb(162, 22, 1);
}

.app-light {
  height: 100%;
  width: 100%;
  color: var(--primary-white-theme-color);
  background-color: var(--background-white-theme-color);
}
.app-dark {
  height: 100%;
  width: 100%;
  color: var(--primary-dark-theme-color);
  background-color: var(--background-dark-theme-color);
}
