@use "../abstracts/variables" as variables;

.section {
    color: variables.$primary-color;
    padding: 6.4rem 0;
    text-align: center;

    &__hero {
        background-color: variables.$tertiary-color;
        padding: 4.8rem 0;
        text-align: left;
    }

    &__partners {
        position: relative;
        background-color: variables.$secondary-dark;
        padding: 0;
    }

    &__featured-cocktails {
        background-color: variables.$tertiary-color;
    }

    &__features {
        background-color: variables.$tertiary-light;
    }

    &__testimonials {
        background-color: variables.$tertiary-color;
    }
}
