@use "../abstracts/variables" as variables;

.section {
    padding: 4.8rem 0;

    &__hero {
        background-color: variables.$tertiary-color;
    }

    &__partners {
        padding: 0;
        background-color: variables.$secondary-dark;
    }

    &__featured-cocktails {
        padding: 6.4rem 0;
        background-color: variables.$tertiary-color;
    }
}
