.top-nav {
  padding: 15px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;
  background-color: var(--top-nav-background-color);
  border-bottom: 6px solid var(--secondary-color);
}

.top-nav-container {
  position: relative;
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons-container {
  display: flex;
  justify-content: space-between;
}
