.add-product {
  background-color: var(--background-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  min-height: 70vh;
  z-index: 6;

  /* ---------------------------------------- */
  filter: drop-shadow(0 0 9px var(--background-inverted-color));
  max-height: 90%;
  color: var(--background-color);
  padding: 30px 40px;
  background: var(--background-inverted-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 45vw;
}
.add-product textarea {
  resize: none;
}

.add-product button {
  all: unset;
  cursor: pointer;
  color: var(--white-color);
  padding: 10px 15px;
  background-color: var(--secondary-color);
  font-size: 19px;
  border-radius: 10px;
  filter: drop-shadow(0 0 3px var(--secondary-color));
}

.all-product-inputs {
  padding: 5px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.all-product-inputs .inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-product .form-group label,
.add-product .form-group input {
  display: block;
  margin-bottom: 5px;
}

.add-product .form-group input {
  color: var(--background-color);
  background: none;
  font-size: 16px;
  border: none;
  padding: 10px 15px;
  border-bottom: 3px solid var(--secondary-color);
  outline: none;
}

.form-group {
  margin-bottom: 15px;
}

.all-product-inputs textarea {
  padding: 10px;
  border-radius: 15px;
  width: 300px;
  height: 150px;
  font-size: 15px;
}
.form-group:focus-within {
  transform: scale(1.07);
}

.all-product-inputs .images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.all-product-inputs .images img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}
.form-group-checkbox{
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.form-group input[type=checkbox]{
  display: block;
  accent-color: var(--secondary-color);
  width: 20px;
  height: 20px;
}

/* dropdown*/
.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group select {
  padding: 6px 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  border-radius: 15px;
  background-color: var(--background-color);
  color: var(--background-inverted-color);
}

.form-group option {
  background-color: var(--background-inverted-color);
  color: var(--secondary-color);
  font-size: 17px;
  font-weight: bold;
}

.form-group option:hover {
  background-color: gray;
}

.errors-container {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
}
