.category-product-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 510px;
  /* transition: transform 0.7s ease-in-out; */
  margin: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  position: relative;
}

.category-product-item a {
  text-decoration: none;
  color: var(--primary-color);
}

.category-product-item .discount {
  position: absolute;
  top: 5px;
  left: 15px;
  background-color: var(--promo-price-color);
  color: var(--white-color);
  padding: 7px 12px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 21px;
  font-weight: bold;
}

/*
.category-product-item:hover {
  transform: scale(1.02) translateY(-30px);
   box-shadow: 0px 0px 7px 1px var(--background-inverted-color);
  -webkit-box-shadow: 0px 0px 7px 1px var(--background-inverted-color);
  -moz-box-shadow: 0px 0px 7px 1px var(--background-inverted-color); 
}
*/
.category-product-item h2 {
  font-size: 21px;
}

.category-product-item img {
  width: 220px;
  height: 220px;
  object-fit: contain;
}

.category-product-item .prices {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-product-item span {
  color: var(--white-color);
  border-radius: 10px;
  background-color: var(--product-category-background-color);
  font-weight: bold;
  padding: 4px 6px;
  font-size: 15px;
}

.category-product-item p {
  margin-top: 10px;
  font-size: 19px;
  font-weight: bold;
}

.category-product-item .promo-price {
  margin-top: 0;
  margin-left: 10px;
  background-color: var(--promo-price-color);
  padding: 3px 5px;
  border-radius: 50%;
  font-size: 19px;
  font-weight: bold;
  color: var(--white-color);
}

.category-product-item button {
  all: unset;
  width: 60%;
  cursor: pointer;
  color: var(--white-color);
  padding: 10px 15px;
  background-color: var(--secondary-color);
  font-size: 19px;
  border-radius: 10px;
  filter: drop-shadow(0 0 3px var(--secondary-color));
}

.category-product-item .ratings {
  margin: 10px;
}
.category-product-item .ratings i {
  font-size: 20px;
  color: #eba834;
}

.category-product-item .ratings p {
  display: inline;
  font-size: 22px;
  margin-left: 5px;
}
