.hero {
  margin: 0 auto;
  max-width: 130rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem;
  align-items: center;
  padding: 3.2rem;
}

.img-box img {
  width: 90%;
  animation: bounce 3s infinite ease-in-out;
  filter: drop-shadow(0 0 1rem #8b0401);
}

.text-box {
  color: #8b0401;
}

.text-box button {
  margin: 1.6rem 1.6rem 0 0;
}
.text-box h1 {
  font-size: 4.4rem;
  margin-bottom: 3.2rem;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: -1px;
}

.text-box p {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}
.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes bounce {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(1.5rem) rotate(-3deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@media (max-width: 600px) {
  .hero {
    grid-template-columns: 1fr;
    column-gap: 4.8rem;
  }
  .img-box img {
    width: 100%;
  }
}
