@use "../../abstracts/variables" as variables;

.testimonials {
    position: relative;
    margin: 1.6rem auto;

    &__container {
        overflow: hidden visible;
        position: relative;
        padding: 3.2rem 0;
    }

    &__content-wrapper {
        display: flex;
        justify-content: flex-start;
        transition: transform 0.5s ease;
        will-change: transform;
    }

    &__btn {
        all: unset;
        position: absolute;
        background-color: variables.$primary-color;
        color: variables.$color-white;
        padding: 1.2rem;
        font-size: 1.8rem;
        font-weight: bold;
        cursor: pointer;
        top: 50%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: variables.$secondary-color;
        }

        &--left {
            left: 0;
            transform: translate(-150%, -50%);
        }
        &--right {
            right: 0;
            transform: translate(150%, -50%);
        }
    }

    &__item-container {
        height: auto;
        background-color: variables.$secondary-color;
        transition: transform 0.5s ease-out, background-color 0.3s ease-out;
        margin-right: 30px;
        border-radius: 6px;
        will-change: transform, background-color;

        &--small {
            width: 15rem;
        }
        &--medium {
            width: 25rem;
        }
        &--large {
            width: 35rem;
        }

        &--active {
            transform: translateY(-2.5rem) scale(1.05);
            background-color: variables.$color-white !important;
        }
    }
}

.testimonial-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    padding: 15px;

    &__authorImg {
        height: 70px;
        width: 70px;
        object-fit: cover;
        border-radius: 50%;
    }

    &__name {
        font-size: 1.8rem;
    }

    &__rating {
        font-size: 1.6rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.8rem;

        &-number {
            margin-top: -0.5rem;
        }
    }

    &__review {
        font-size: 1.3rem;
        font-style: italic;
    }

    &__quote {
        font-size: 1.9rem;
        font-weight: bold;
    }
}
