* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/sky.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  row-gap: 16px;
}
