.notification-error {
  position: relative;
  color: var(--white-color);
  margin-bottom: 10px;
  font-size: 17px;
  z-index: 999;
  background-color: rgb(249, 111, 111);
  padding-right: 20px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  font-weight: bold;
  /*justify-content: space-between; */
}

.notification-error span {
  padding: 15px 6px;
  text-align: center;
  display: block;
  height: 100%;
  margin-right: 15px;
  background-color: var(--secondary-color);
}

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 6px;
  background-color: var(--secondary-color);
  animation: progressBar 5s linear;
}

@keyframes progressBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
