@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixins;

@include mixins.slideout();

.carousel {
    max-width: variables.$max-width-content;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    animation-play-state: running;

    &__gap--small {
        gap: 2rem;
    }

    &__gap--medium {
        gap: 3rem;
    }

    &__gap--large {
        gap: 4rem;
    }

    &__track {
        display: flex;
        align-items: center;
        width: max-content;
        animation: slideout 15s ease-in-out infinite;
        overflow: hidden;

        &:hover {
            animation-play-state: paused;
        }
    }

    &__item {
        width: 15rem;
        padding: 1rem 1.5rem;
        flex-shrink: 0;
    }

    &__img {
        filter: grayscale(100%);
        width: 100%;
        object-fit: contain;
        transition: all 0.5s ease;

        &:hover {
            filter: grayscale(0);
        }
    }
}
