.navigation {
  padding: 15px 0 0;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade 1.8s ease-in-out;
}

.navigation ul {
  list-style-type: none;
}

.navigation img {
  height: 7rem;
  width: 5rem;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1000px) {
  .navigation img {
    height: 7rem;
    width: 5rem;
  }
}

@media only screen and (max-width: 650px) {
  .navigation img {
    height: 5rem;
    width: 4rem;
  }
}

@media only screen and (max-width: 430px) {
  .navigation img {
    height: 4rem;
    width: 3rem;
  }
}
