.navigation {
  padding: 15px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation ul {
  list-style-type: none;
}

.navigation img {
  height: 8rem;
  width: 6rem;
}

@media only screen and (max-width: 1000px) {
  .navigation img {
    height: 7rem;
    width: 5rem;
  }
}

@media only screen and (max-width: 650px) {
  .navigation img {
    height: 5rem;
    width: 4rem;
  }
}

@media only screen and (max-width: 430px) {
  .navigation img {
    height: 4rem;
    width: 3rem;
  }
}
