.icon-btn {
  all: unset;
  cursor: pointer;
  padding: 15px;
  margin: 5px;
}
.icon-btn i {
  font-size: 28px;
  color: var(--secondary-color);
  filter: drop-shadow(0 0 2px var(--dropshadow-color));
}

.icon-btn:hover {
  animation: iconAnimation 0.8s ease-in-out;
  scale: 1.15;
}

.dropdown-container {
  position: relative;
}

@keyframes iconAnimation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
