.icon-btn {
  all: unset;
  cursor: pointer;
  padding: 15px;
  margin: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-btn i {
  font-size: 28px;
  color: var(--secondary-color);
  filter: drop-shadow(0 0 2px var(--dropshadow-color));
  transition: all 0.7s ease-in-out;
}

.icon-btn:hover > i:nth-child(1) {
  animation: iconAnimation 0.7s ease-in-out;
  scale: 1.15;
}

.icon-btn i:nth-child(2) {
  position: absolute;
  bottom: 7px;
  right: 2px;
  font-size: 15px;
  z-index: 3;
}

.icon-btn span {
  border-radius: 10px;
  padding: 0 6px;
  font-weight: bold;
  position: absolute;
  top: 4px;
  right: 2px;
  font-size: 13px;
  background-color: var(--background-inverted-color);
  color: var(--secondary-color);
}

.dropdown-container {
  position: relative;
}

@keyframes iconAnimation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@media screen and (max-width: 700px) {
  .icon-btn i {
    font-size: 26px;
  }
}
@media screen and (max-width: 400px) {
  .icon-btn {
    padding: 5px 10px;
  }
  .icon-btn i {
    font-size: 21px;
  }
  .icon-btn i:nth-child(2) {
    font-size: 12px;
  }
  .icon-btn span {
    padding: 0 4px;
    font-size: 12px;
  }
}
