.footer {
  text-align: center;
  clear: both;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  padding-bottom: 10px;
}

.footer p {
  font-size: 19px;
  margin-bottom: 15px;
}

.social-networks {
  width: 100%;
}

.social-networks ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-networks ul li {
  margin: 0px 20px;
}

.social-networks ul li a {
  text-decoration: none;
  color: white;
  font-size: 35px;
  transition: 0.5s ease;
  padding: 0;
}

.social-networks ul li a i {
  transition: 0.5 ease;
  padding: 0;
}

.social-networks ul li a:hover {
  color: red;
}

.social-networks ul li i:hover {
  scale: 1.15;
}

@media only screen and (max-width: 650px) {
  .footer p {
    font-size: 17px;
    margin-bottom: 12px;
  }
  .social-networks ul li a {
    font-size: 30px;
  }
}
