.login-section,
.register-section {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.login-section h1,
.register-section h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.login-section form,
.register-section form {
  filter: drop-shadow(0 0 9px var(--background-inverted-color));
  min-height: 40%;
  max-height: 90%;
  min-width: 20%;
  color: var(--background-color);
  padding: 30px 40px;
  background: var(--background-inverted-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
}

.login-section form a,
.register-section form a {
  text-decoration: none;
  color: var(--background-color);
  font-style: oblique;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group > div {
  display: flex;
  align-items: center;
  border-bottom: 3px solid var(--background-color);
}
.form-group > div:focus-within {
  transform: scale(1.06);
}
.form-group > div i {
  color: red;
  font-size: 20px;
}

.form-group input {
  color: var(--background-color);
  background: none;
  font-size: 16px;
  border: none;
  padding: 10px 15px;
  border-radius: 15px;
}

.form-group input:focus {
  outline: none;
}

.form-group label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1vh;
}

.btns {
  position: relative;
  width: 70%;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.btns button {
  all: unset;
  width: 100%;
  cursor: pointer;
  padding: 12px 15px;
  font-size: 18px;
  color: var(--white-color);
  font-weight: bold;
  border-radius: 15px;
  background: linear-gradient(to bottom right, var(--secondary-color), var(--black-color));
}

.errors-container {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .login-section form,
  .register-section form {
    min-height: 50%;
    max-height: 95%;
    min-width: 20%;
    padding: 15px 25px;
    width: 270px;
  }

  .login-section h1,
  .register-section h1 {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .form-group {
    width: 80%;
  }

  .btns button {
    padding: 6px 8px;
    font-size: 15px;
  }

  .form-group input {
    font-size: 14px;
    padding: 8px 12px;
  }
  .form-group label {
    font-size: 16px;
    margin-bottom: 1vh;
  }
}
